# fly.toml app configuration file generated for schedulify-class-sync on 2025-11-06T15:45:26-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'schedulify-class-sync'
primary_region = 'lax'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
